useDynLib(BoostingLVM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "qlogis", "cor", "factanal", "optim", "qnorm","dnorm", "pnorm")
importFrom("graphics","par","lines")

import("mvtnorm")

export(lvmboost,simdatalvm,cv.lvmboost)

S3method(plot, lvmboost)